<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> <b>|</b>
        <a href="/menu">Full Menu</a> <b>|</b>
        <!-- new links below-->
        <a href="/menu/mains">Mains</a> <b>|</b>
        <a href="/menu/desserts">Desserts</a> <b>|</b>
        <a href="/menu/sides">Sides</a> 
      </nav>
         
</body>
</html>